body {
    font-family: "Archivo Black", sans-serif;
    background: hsl(38, 100%, 87%);
    display: flex;
    flex-direction: column;
    height: 150vh;
    text-align: center;
    overflow-x: hidden !important;
  }
  
  .heading{
     margin-top: 10%;
  }

  .words {
    /*border: 2px solid navy;*/
    color: #FFE7BF;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 2.5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  
  .image1 img{
      margin-top: 100px;
      width: 270px;
      height: 320px;
      border: 15px solid #ff869e;
      transform: rotate(12deg);
  }

  .text1{
      /*border: 2px solid navy;*/
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 60px ;
      margin-bottom: 45px;
      width: 100%;
      font-family: 'Pacifico', cursive;
      color: #A10035;
      text-shadow:1px 1px #ff869e;
      font-size: 25px;
      letter-spacing: 0.5px;
  }

  .container {
    margin-left: 30%;
    position:relative;
    width:200px;
    perspective: 1000px;
    margin-bottom: 400px;
  }
  
  .carousel {
    position: absolute;
    width: 80%;
    height: 60%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 180px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }

  #myAudio{
    visibility: hidden;
  }
  .carousel__face:nth-child(1) {
    background-image: url("mp2.jpeg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("mp3.jpeg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("mp4.jpeg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("mp5.jpeg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("mp6.jpeg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("mp7.jpeg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("mp8.jpeg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("mp9.jpeg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("mp10.jpeg");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  .text2{
      font-size: 3rem;
      color: #FF869E;
      text-shadow: 4px 4px #FFC4C4 ;
  }

  .image11 img{
    width: 100%;
  }

  .reveal {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    letter-spacing: 0.4em; 
  }
  
   .revealspan {
    color: #FFE7BF;
    mix-blend-mode: lighten;
  }
  
  .reveal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #A10035;
    animation: reveal 6s linear infinite;
  }
  
  @keyframes reveal {
    0% {
      left: -50px;
    }
    50% {
      left: calc(100% - 150px);
    }
    100% {
      left: -50px;
    }
  }

  .image12 img{
    margin-top: 100px;
    margin-bottom: 60px;
    width: 100%;
  }